.App {
  text-align: center;
}

.App .addElements input[type="text"] {
  padding: 5px;
  margin: 10px;
  width: 400px;
  outline: none;
  height: 25px;
}

.App .addElements {
  padding-top:50px;
  padding-bottom: 50px;
  border: 1px solid #d6d6d6;
}

.main {
  text-align: left;
  margin-top: 50px;
  margin: 0 auto;
  width: 80%;
  padding: 20px
}

.main input[type="text"] {
  display: block;
  padding: 5px;
  margin: 10px;
  width: 400px;
  outline: none;
  height: 25px;
}

.main .row {
  display: flex;
}

.main .row label {
  align-self: center;
  padding: 10px;
  width: 300px;
}

.main #ltiForm {
  margin-bottom: 50px;
}

.remove {
  width: 20px !important;
  color: red;
  cursor: pointer;
}

button {
  padding: 10px;
  margin: 10px;
  background: #64b1f3;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
}

.blue {
  background: #64b1f3 !important;
}

.green {
  background: #4dd88b !important;
}

.red {
  background:#e6cccc !important;
}

.gray {
  background: #cecece !important;
}

.border-red {
  /* border:1px #e6cccc !important; */
  border: 2px solid #e6cccc
}
